<footer class="site-footer">
  <a>RJ</a>

  <div class="footerNav">
  <a href="/content">COLLECTION</a>
  <a href="/about">EVENTS</a>
  <a href="https://github.com/codingNoob14">GITHUB :D</a>
  </div>



  
</footer>
