<header class="site-header">
  <nav class="nav">
    <a class="brand" href="/">RJ</a>
    <span class="nav-spacer"></span>

    <a href="/about">EVENTS</a>
    <a href="/content">COLLECTION</a>
    {{#if currentUser}}

    {{#if (eq currentUser.role "admin")}}
    <a href="/users">Users</a>
      <a href="/content/new">Neu</a>
    {{/if}}
      <form method="post" action="/logout" class="nav-logout">
        <button type="submit">Logout</button>
      </form>
    {{else}}
      <a href="/login">LOGIN</a>
      <a href="/register">REGISTER</a>
    {{/if}}


  </nav>
</header>
