<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}} – SSR Starter</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/collection.css" />
    <link rel="stylesheet" href="/css/content_edit.css" />
    <link rel="stylesheet" href="/css/content_new.css" />
    <script src="/js/likes.js" defer></script>
    <link rel="stylesheet" href="/css/likes.css" />
    <link href="https://db.onlinewebfonts.com/c/2e02d64c42b3b13277a834d7fcc6d3c2?family=Real+Head+Pro+Demibold" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/68b64af99968e40b3510b46d9a65d9c4?family=Real+Head+Pro+Light" rel="stylesheet">
</head>

<body>
    {{> header}}

    <main class="container">
        {{{body}}}
    </main>

    {{> footer}}
</body>

</html>
