<section class="eventSite">
<video autoplay muted loop class="homeVideo">
  <source src="/img/5-1.mp4" type="video/mp4">
</video>

<div class="collectionTextOverlay">

<h1 class="collectionPageTitle">RICHARD JONES</h1> 
<p class="eventPageSubtitle">EVENTS</p>
</div>

<div class="eventPageImages">

  <div class="eventPageImage">
  <img src="/img/5-2.jpg">
  <div class="eventImageText">
  <h1>GENEVA</h1>
  <p>20.05.26</p>
  </div>
  </div>  

  <div class="eventPageImage">
  <img src="/img/5-3.jpg">
  <div class="eventImageText">
  <h1>MONACO</h1>
  <p>22.06.26</p>
  </div>
  </div>  


  <div class="eventPageImage">
  <img src="/img/5-4.jpg">
  <div class="eventImageText">
  <h1>DUBAI</h1>
  <p>03.07.26</p>
  </div>
  </div>  
</div>

</section>
