<h1>Richard Jones<h1/>
<h2>THE BRAND</h2>
<p>The first watch to carry Richard Jones’s name, the RJ 001 Tourbillon, launched the millennium and marked the beginning of a new era in watchmaking.</p>
<h2>SINCE 2025</h2>
<p>Since its inception in 2025, Richard Jones has been synonymous with innovation, craftsmanship, and timeless design. Each timepiece is a testament to our commitment to excellence and our passion for horology.</p>
<h2>A NEW ERA IN WATCHMAKING</h2>
<p>The RM 001 Tourbillon, the first watch ever to bear the Richard Mille name, literally and figuratively launched the millennium: the year was 2001, and the model marked the beginning of a new era in watchmaking. Today, the collection’s more than eighty models point resolutely towards the future, whilst holding steadfast to the time-honoured traditions of fine watchmaking.



Like that landmark watch, the RM 001, Richard Mille’s success is a product of three crucial elements: the best of cutting edge innovative technology, a strong artistic and architectural dimension, and watches designed to be robust and easy to use, yet also highly sophisticated. Each piece is finished and assembled by hand, reflecting the very best in Haute Horlogerie.</p>

<h2>MATERIALS INNOVATION
</h2>

<p>From the very inception of the brand, Richard Mille endeavoured to apply to watchmaking techniques and materials found in the most innovative sectors, such as Formula 1 race car development or the aerospace industry, always with the goal of creating an extreme timepiece that was both uncompromising and gimmick-free.



The brand has laid claim to a number of world innovations in the application, use and design of new technological materials that have vastly extended the field of horological knowledge and invention.<p/>