


    <img src="/img/4-1.jpg" alt="BackgroundImage" class="loginRegisterBackgroundImage">
<div class="loginFormContainer">
  <div class="loginForm">

<h1>{{title}}</h1>
<div class="loginFormInputs">


<form method="post" action="/login" class="form" novalidate>
  <input type="hidden" name="next" value="{{next}}">

  
    <input type="email" name="email" value="{{values.email}}" required autocomplete="email" autofocus placeholder="E-Mail" class="loginEmail">
  
<br>

    <input type="password" name="password" required autocomplete="current-password" placeholder="Password" class="loginPassword">

<br>
  <button type="submit" class="loginSubmit">Einloggen</button>
</form>

</div>
{{#if errors}}
  <ul class="errors" role="alert" aria-live="polite">
    {{#each errors}}<li>{{this}}</li>{{/each}}
  </ul>
{{/if}}

<p>Don't have an account? <a href="/register">Register</a></p>
  </div>

</div>

