.eventImageText{
  color: white;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;   /* vertical center */
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.eventPageImage img{
    position: absolute;
    opacity: 85%;
    z-index: 0;
    max-height: 100%;
    min-width: 100%;
}

.eventImageText p {
  font-family: 'Real Head Pro Light', sans-serif;
}