/* ----------Register site---------------- */
.registerFormContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registerForm {
  z-index: 1;
  gap: 20px;
  height: 600px;
  width: 400px;
  background-color: black;
  padding: 40px;
}

.registerFormInputs form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.registerFormInputs {
  background-color: black;
}
.registerFormInputs input {
  background-color: #707070;
  font-family: 'Real Head Pro Demibold', sans-serif;
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}
.registerFormInputs input::placeholder {
  color: white;
}

.registerFormInputs button {
  margin-top: 80px;
  width: 100%;
  padding: 10px;
  background-color: #707070;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Real Head Pro Demibold', sans-serif;
}
.registerFormContainer h1 {
  color: white;
}

.registerFormContainer p {
  font-size: 14px;
  color: white;
  margin-top: 40px;
  font-family: 'Real Head Pro Light', sans-serif;
}

.registerFormContainer p a {
  color: white;
  font-family: 'Real Head Pro Demibold', sans-serif;
}
