/* Basic reset so i dont have to wory about any margin/padding issues */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

img, video, canvas, svg {
  display: block;
  max-width: 100%;
}

:root {
  --fg: #111;
  --bg: #fff;
  --muted: #6b7280;
  --brand: #2563eb;
}

/* Header Styling */
header .nav {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 11px;
}
header.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

header .nav a {
  text-decoration: none;
  color: white;
  font-family: 'Real Head Pro Demibold', sans-serif;
}

header .nav .nav-spacer {
  flex: 1;
}

/* ------------------------- HOME SITE ---------------------- */

body {
  background-color: black;
}


/* this makes the video behind the text and the header */
.homeVideo {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.homeVideoContainer {
  position: relative;
  z-index: 0;
  height: 100vh;
  overflow: hidden;
}

.homeContent {
  color: white;
}

.pageTitle {
  color: white;
  font-size: 50px;
 position: relative;
  height: 100vh;
  display: flex;
  align-items: center;   /* vertical center */
  justify-content: center;
  z-index: 1;
}



.homeContent p {
  font-size: 15px;
  font-family: 'Real Head Pro Light', sans-serif;
  width: 400px;
  margin: 0 auto;
}

.homeContent h2 {
    font-size: 40px;
}
img { 
    max-width: 100%; 
    height: auto; 
}

/* styling for "The Brand" section */

.theBrand {
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  text-align: center;
  background-color: black;
}

.brandHistory {
  position: relative;
  min-height: 60vh; /* adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical */
  align-items: center;     /* horizontal */
  text-align: center;
  height: 700px;
}

.brandHistory .brandHistoryImg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
}

/* styling for the concept section */
.homeConcept {
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  text-align: center;
  background-color: black;

}
.homeConcept p{
  text-align: center;
  width: 400px;
  margin: 0 auto;
}



/* styling for the "era" section */

.eraSection {
  margin-top: 150px;
  background-color: black;
  margin-left: 150px;
  margin-right:150px;
  display: flex;
  align-items: flex-start;
}
.eraSection p{
  display: block;
  text-align: left;
  width: 400px;
  margin: 0;
}
.eraSectionText {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical */
  align-items: left;     /* horizontal */
  text-align: left;
  height: 700px;
}

.eraSection h2{
  text-align: left;
}
.eraImage {
  width: 50%;
  height: auto;

}

/* Materials section  */
.materialsSection {
  width: 100%;
  margin: 0;
  margin-top: 150px;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}
.materialsSection p{
  display: block;
  text-align: left;
  width: 400px;
  margin: 0;
}
.materialsSectionText {
  color: black;
  width: 400px;        
  margin: 0 auto;
  align-items: center;
  text-align: left;
  justify-content: center;
  height: auto;
}
.materialsSection h2{
  text-align: left;
}
.materialsImage {
  max-width: 100%;
  height: 900px;
  object-fit: cover;
  object-position: center top;

}





/*----------------------LOGIN PAGE STYLES----------------------- */

/* some resets like the pre-styled buttons and links */

.loginFormContainer {
  margin: 0;
  padding: 0;
  background-color: black;
}
/* stylinig for the form itself  */
.loginFormContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginForm {
  z-index: 1;
  gap: 20px;
  height: 500px;
  width: 400px;
  background-color: black;
  padding: 40px;
}

.loginFormInputs form{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.loginFormInputs input {
  background-color: #707070;
  font-family: 'Real Head Pro Demibold', sans-serif;
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}
.loginFormInputs input::placeholder {
  color: white;
}

.loginFormInputs button {
  margin-top: 80px;
  width: 100%;
  padding: 10px;
  background-color: #707070;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Real Head Pro Demibold', sans-serif;
}
.loginFormContainer h1 {
  color: white;
}

.loginFormContainer p {
  font-size: 14px;
  color: white;
  margin-top: 40px;
  font-family: 'Real Head Pro Light', sans-serif;
}

.loginFormContainer p a {
  color: white;
  font-family: 'Real Head Pro Demibold', sans-serif;

}

.loginRegisterBackgroundImage {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: auto;
  opacity: 0.5;
}
.errors {
  position: absolute;
  color: red;
  font-family: 'Real Head Pro Light', sans-serif;
  font-size: 14px;
  list-style-type: none;
}

/* ----------Register site---------------- */
.registerFormContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registerForm {
  z-index: 1;
  gap: 20px;
  height: 600px;
  width: 400px;
  background-color: black;
  padding: 40px;
}

.registerFormInputs form{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.registerFormInputs input {
  background-color: #707070;
  font-family: 'Real Head Pro Demibold', sans-serif;
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}
.registerFormInputs input::placeholder {
  color: white;
}

.registerFormInputs button {
  margin-top: 80px;
  width: 100%;
  padding: 10px;
  background-color: #707070;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Real Head Pro Demibold', sans-serif;
}
.registerFormContainer h1 {
  color: white;
}

.registerFormContainer p {
  font-size: 14px;
  color: white;
  margin-top: 40px;
  font-family: 'Real Head Pro Light', sans-serif;
}

.registerFormContainer p a {
  color: white;
  font-family: 'Real Head Pro Demibold', sans-serif;

}

/*-----------------Collection Page Styles-------------------- */

.collectionTextOverlay{
    color: white;
 position: relative;
  height: 100vh;
  display: flex;
  align-items: center;   /* vertical center */
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.collectionTextOverlay h1 {
  font-size: 50px;
}

.collectionTextOverlay p {
  font-size: 15px;
  font-family: 'Real Head Pro Light', sans-serif;
  margin: 0 auto;
}




/* font stuff... :) */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Real Head Pro Demibold', sans-serif;
    align-items: center;
    text-align: center;
}
