/* Basic reset so i dont have to wory about any margin/padding issues */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

img, video, canvas, svg {
  display: block;
  max-width: 100%;
}

:root {
  --fg: #111;
  --bg: #fff;
  --muted: #6b7280;
  --brand: #2563eb;
}

/* Header Styling */
header .nav {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 11px;
}

header .nav a {
  text-decoration: none;
  color: white;
  font-family: 'Real Head Pro Demibold', sans-serif;
}

header .nav .nav-spacer {
  flex: 1;
}

/* ------------------------- HOME SITE ---------------------- */

body {
  background-color: black;
}



.homeVideo {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.homeVideoContainer {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.homeContent {
  color: white;
}

.homeTitle {
  color: white;
  font-size: 50px;
}

.homeContent p {
  font-size: 15px;
  font-family: 'Real Head Pro Light', sans-serif;
  width: 400px;
  margin: 0 auto;
}

.homeContent h2 {
    font-size: 40px;
}
img { 
    max-width: 100%; 
    height: auto; 
}

.theBrand {
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical */
  align-items: center;     /* horizontal */
  text-align: center;
  background-color: red;
}

.brandHistory {
  position: relative;
  min-height: 60vh; /* adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical */
  align-items: center;     /* horizontal */
  text-align: center;
  height: 700px;
}

.brandHistory .brandHistoryImg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
}

/* .brandHistory h2,
.brandHistory p {
  position: relative;
  z-index: 1;
} */


/* font stuff... :) */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Real Head Pro Demibold', sans-serif;
    align-items: center;
    text-align: center;
}
